.grid {
  display: grid;
  gap: 10px;
  background-color: #333;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .grid {
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 7px;
  }
}

.grid__squares {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  cursor: pointer;
  border: none;
  background-color: white;
}

.square {
  transform: scale(0);
  transition: 0.2s;
}

.X {
  color: teal;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-image: url("../xPlayerIco.svg");
  transform: scale(1);
}

.O {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid teal 11px;
  transform: scale(1);
}

@media (max-width: 760px) {
  .X {
    width: 50px;
    height: 50px;
  }

  .O {
    width: 50px;
    height: 50px;
    border-width: 7px;
  }
}