.strike {
    position: absolute;
    background-color: teal;
    filter: brightness(60%);
    width: 400px;
    height: 5px;
    margin-top: 188px;
    margin-left: -10px;
    transform: scaleX(0%);
}

.comb1 {
    margin-top: 58px;
    transform: scaleX(100%);
}

.comb2 {
    transform: scaleX(100%);
}

.comb3 {
    margin-top: 318px;
    transform: scaleX(100%);
}

.comb4 {
    margin-left: -140px;
    transform: rotate(90deg) scaleX(100%);
}

.comb5 {
    transform: rotate(90deg) scaleX(100%);
}

.comb6 {
    margin-left: 120px;
    transform: rotate(90deg) scaleX(100%);
}

.comb7 {
    width: 500px;
    margin-left: -60px;
    transform: rotate(45deg) scaleX(100%);
}

.comb8 {
    width: 500px;
    margin-left: -60px;
    transform: rotate(-45deg) scaleX(100%);
}

@media (max-width: 760px) {
    .strike {
        width: 310px;
        margin-left: -13.5px;
        margin-top: 141px;
        height: 3px;
    }

    .comb1 {
        margin-top: 43px;
    }

    .comb2 {}

    .comb3 {
        margin-top: 237px;
    }

    .comb4 {
        margin-left: -110px;
    }

    .comb5 {
        margin-top: 140px;
        transform: rotate(90deg);
    }

    .comb6 {
        margin-left: 84px;
    }

    .comb7 {
        width: 370px;
        margin-left: -43.5px;
        transform: rotate(45deg);
    }

    .comb8 {
        width: 370px;
        margin-left: -43.5px;
        transform: rotate(-45deg);
    }
}